body {
  background-color: #F3CED5;
  font-family: Avenir, "Sans-serif", Arial;
  font-size: 100%;
}

h1 {
  color: #63A8C7;
  text-align: center;
  font-size: 3.2em;
  padding:10%
}

.categories {
  color: #AAD1E2;
  text-align: center;
  font-size: 1.5em;
  padding:5%
}

a {
  padding:1%;
  text-decoration: none;
  color: #AAD1E2;
}

#projects {
  padding:1%;
}

#about {
  padding:1%;
}

#contact {
  padding:1%;
}

h3 {
  color: #873444;
  font-size: 1.2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  color: #423147;
  font-size: 1em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#triplets{
  width: 75vw;
  height: 33vh;
}

#retirement{
  width: 70vw;
  height: 33vh;
  text-align: right;
}

#bristolbay{
  width: 50vw;
  height:45vh;
}

p {
    margin: 0;
    padding: 0;
}

#triplettext {
  margin-top: 5vw;
  width: 25vw;
  position: absolute;
  left: 10vw;
}

#retiretext {
  margin-top: 1.5vw;
  position: absolute;
  text-align: left;
  right: 10vw;
  width: 42vw;
}

#baytext {
  margin-top: 0vw;
  color: gray;
  position: absolute;
  width: 57vw; 
  left: 30vw;
}

.projects {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url(../documents/cloth.png), url(../documents/Retirement.png), url(../documents/Bristol_Bay_pic.png);
  background-position: 10% 5%, 75% 25%, 50% 100%;
  background-repeat: no-repeat;
  padding: 0%;
  margin-top: 0%;
  margin-left: 0%;
}

.about {
  display: none;
  width: 60vw;
  color:#63A8C7;
  text-align: left;
  margin-top: 10vh;
  margin: auto;  
}

.uparrow {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  width: 50%;
}

.contact {
  display: none;
}