body {
  background-color: #2F2FA2;
  font-family: Avenir, "Sans-serif", Arial;
  font-size: 100%;
  height:100%;
}

html {
  height:100%;
}

h1 {
  color: #F64C72;
  text-align: center;
  font-size: 3.2em;
  padding:10%
}

.categories {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  padding:5%;
}

a {
  padding:1%;
  text-decoration: none;
  color: #FFFFFF;
}

#projects {
  padding:1%;
}

#about {
  padding:1%;
}

#contact {
  padding:1%;
}

h3 {
  color: #2F2FA2;
  font-size: 1.2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  color: #F64C72;
  font-size: 1em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#triplets{
  width: 35vw;
  height: 70vh;
}

.box {
  background-color: #FFFFFF;
}

#retirement{
  width: 70vw;
  height: 40vh;
  text-align: right;
}

#bristolbay{
  width: 50vw;
  height:45vh;
}

p {
  margin: 0;
  padding: 0;
  color:#99738E;
}

#triplettext {
  margin-top: 15vw;
  width: 25vw;
  position: absolute;
  left: 10vw;
  color: #99738E;
}

#retiretext {
  margin-top: 1.5vw;
  position: absolute;
  text-align: left;
  right: 10vw;
  width: 42vw;
  color:#FFFFFF;
}

#baytext {
  margin-top: 0vw;
  color: #FFFFFF;
  position: absolute;
  width: 57vw; 
  left: 30vw;
}

.projects {
  padding:0%;
  display: none;
  width: 100vw;
  height: 100vh;
}

.parallax {
  background-image: url(../documents/cloth.png);
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size:cover;
  height:100%;
}

.about {
  display: none;
  width: 60vw;
  color:#FFFFFF;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.uparrow {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  width: 50%;
}

.contact {
  display: none;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:#FFFFFF;
  text-decoration: none;
  padding: 5%;
}

#linkedin{
    padding:5%;
}

#email{
    padding:5%;
}