body {
  background-color: #2F2FA2;
  font-family: "avenir", "Sans-serif", Arial;
  font-size: 100%;
  height:100%;
  margin:0;
}

html {
  height:100%;
}

#namebox {
  display: none;
  width: 50vw;
  height: 45vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../documents/plants.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#name {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px white;
    text-shadow:
       3px 3px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
  color: #F64C72;
  text-align: center;
  font-size: 5em;
}

.categories {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
}

.fixed-nav-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: #553D67;
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
  z-index: 100;
  transition: 0.35s ease;
}

#resume{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0%, -50%);
  display:none;
}

#projects{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0%, -50%);
  display:none;
}

#about{
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(0%, -50%);
  display:none;
}

#contact {
  position: absolute;
  top: 50%;
  right:10%;
  transform: translate(0%, -50%);
  display:none;
}

#resume a {
  padding:7%;
  color: #FFFFFF;
}

#projects {
  padding:7%;
  text-decoration: underline;
}

#about {
  padding:7%;
  text-decoration: underline;
}

#contact {
  padding:7%;
  text-decoration: underline;
}

.projects h3 {
  color: #2F2FA2;
  font-size: 2.2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.projects h4 {
  color: #F64C72;
  font-size: 1em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#triplets{
  width: 35vw;
  height: 50vh;
}

.box {
  background-color: #FFFFFF;
}

#retirement{
  width: 70vw;
  height: 40vh;
  text-align: right;
}

#retirement a{
  padding:0;
}

#bristolbay{
  width: 50vw;
  height:45vh;
}

#triplettext {
  margin-top: 15vh;
  width: 25vw;
  position: absolute;
  left: 10vw;
  color: #99738E;
}

#retiretext {
  margin-top: 10vh;
  position: absolute;
  text-align: left;
  right: 10vw;
  width: 42vw;
  color:#99738E;
  display: inline-block;
}

#baytext {
  margin-top: 20vh;
  color: #99738E;
  position: absolute;
  width: 57vw; 
  left: 30vw;
}

.projects {
  padding:0%;
  display: none;
  width: 100vw;
  height: 100vh;
}

.parallax1 {
  background-image: url('../documents/cloth.jpg');
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('../documents/Retirement.png');
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url('../documents/Bristol_Bay_pic.png');
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  display: none;
  width: 80vw;
  height: 90vh;
  color:#FFFFFF;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../documents/sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#abouttext {
  position:absolute;
  width: 60vw;
  top: 50%;
  left:50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
}

.uparrow {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  width: 50%;
}

.contact {
  width: 40vw;
  height: 20vw;
  display: none;
  font-size: 2.2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../documents/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contacttext {
  position: absolute;
  font-size: 1.5em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px white;
  text-shadow:
       2px 2px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}

#linkedin{
  color:#F64C72;
    padding:5%;
}

#email{
  color:#2F2FA2;
    padding:5%;
}